
.cantidad-productos {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 4rem;
}

.compra-body {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: fit-content;
  color: black;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
  
.compra-container {
  padding: 4rem;
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.titulo-compra {
  font-size: 30px ;
  font-weight: 300;
}
  
.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.product-image img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 4px; 
}

.boton-compra {
  color: white !important;
  background-color: #9c27b0ff !important;
}