:root{
    --primary-color: #f60f20;
    --secondary-color: #1b122a;
}
/*BASE STYLES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body-contactos{
    font-family: 'Poppins', sans-serif;
    color: #111;
}

h4{
    font-size: large;
}

a{
    font-size: medium;
}


p{
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

.section-contacto{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 100px;
    margin-top: 60px;
}

/*CONTACT*/

.contact {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form{
    position: relative;
    background: #f9f9f9;
    width: calc(100% - 400px);
    padding: 60px 40px 20px;

}

.contact-form form{
    width: 100%;

}

.contact-form .row{
    width: 100%;
    display: flex;
}

.contact-form .input50{
    width: 50%;
    margin: 0 10px;
}

.contact-form .input100{
    width: 100%;
    margin: 0 10px;
}

.contact-form .row input, .contact-form .row textarea{
    position: relative;
    border: 1px solid rgb(0, 0 ,0, 0.2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
}

.contact-form .row textarea{
    height: 150px;
}

.contact-form .row input[type = 'submit']{
    background: var(--secondary-color);
    color: white;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
}

.contact-form .row input[type = 'submit']:hover{
    scale: 0.9;
    transition: 0.5s;
    transition-delay: 0.1s;
}

.contact-info{
    width: 350px;
    background: #f9f9f9;
    padding: 60px 40px 20px;

}

.contact-info .info-box{
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon{
    width: 20px;
    margin-right: 40px;
}

.contact-info .info-box .details h4{
    color:var(--secondary-color);
}

.contact-info .info-box .details a, .contact-info .info-box .details p{
    color: #111;
}




@media(max-widht: 1068px) {
    
    

    section{
        padding: 100px 40px;
    }


    .contact{
        flex-direction: column;
    }

    .contact-form{
        width: 100%;
        padding: 30px 30px 20px;
    }

    .contact-form .row{
        flex-direction: column;

    }

    .contact-form .input50, .contact-form .input100{
        width: 100%;
        margin: 0;
    }

    .contact-info{
        width: 100%;
        margin-top: 20px;
        padding: 30px 30px 20px;
    }

}